<div>
  <h1>Créée une nouvelle rumeur !</h1>
</div>

<p>On balance pas de rumeur anonymes ici, on est pas des lâches... </p>

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Donc décline ton identité stp :</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Allez, fais un effort: dis-moi ton p'tit nom :)">
    <small id="emailHelp" class="form-text text-muted">(2 à 30 caractères autorisés)</small>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Balance nous une rumeur !</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="La Terre entière attend ton doss'">
  </div>

  <button type="submit" class="btn btn-primary">Et c'est dans la boite !</button>
</form>